<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      package="com.HomeAutomationApp" android:versionName="beta">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-sdk android:minSdkVersion="10" android:maxSdkVersion="16" android:targetSdkVersion="10"></uses-sdk>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:label="@string/app_name" android:name=".HomeAutomationApp" android:configChanges="orientation" android:launchMode="singleInstance" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>           
        </activity>
    <activity android:label="@string/app_name" android:name=".EditPreferences"></activity>
</application>

</manifest> 